<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>タイトル</title>
  </head>
    <body>
      <form action="/" method="POST">
        <label>名前: <input type="text" name="target_name"></label>
        <label>年齢: <input type="text" name="target_old"></label>
        <input type="submit" value="送信">
      </form>
      
<% name = params['target_name'] %>
<% old = params['target_old'] %>
    
<% time_japan = Time.now.getlocal("+09:00") %>

    <p>今は
<%= time_japan.hour %>
時です。</p>
    

<% if 6 <= time_japan.hour && time_japan.hour < 12 %>

      <p>おはよう、
<%= name %>(<%= old %>歳)
さん</p>
    
<% elsif 12 <= time_japan.hour && time_japan.hour < 18 %>

      <p>こんにちは、
<%= name %>(<%= old %>歳)
さん</p>
    
<% else %>

      <p>こんばんは、
<%= name %>(<%= old %>歳)
さん</p>
    
<% end %>

  </body>
</html>